@import "tailwindcss";

/* Add this to your global CSS file (styles.css or Tailwind @layer) */
::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
    margin-left: 3px;
  }
  
  ::-webkit-scrollbar-track {
    background: #081C15;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #55b99b; /* Scrollbar thumb color */
    border-radius: 10px;
    border: 2px solid #55b99b; /* Adds padding effect */ /*#0B251D*/
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background:  #0B251D; /* #0D2B20  Slightly lighter green on hover */
  }
  