@import "tailwindcss";

/* Add this to your global CSS file (styles.css or Tailwind @layer) */
::-webkit-scrollbar {
    width: 10px;
    box-shadow: inset 5px 0 0 #081C15;
  }
  
  ::-webkit-scrollbar-track {
    background: #081C15;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #D8F3DC;
    border-radius: 10px;
    border: 2px solid #D8F3DC;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background:  #0B251D;
  }
  